body{
  margin: 0;
}
section{
  margin: 0;
  padding: 0;
  background-image: url(admin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Logo */
.nav img{
  width: 250px;
  padding: 20px 60px;
  float: left;
}
/* right nav */
.nav{
  float: inherit;
}
ul{
  display: block;
  list-style: none;
  margin: 0;
  padding: 20px;
  padding-top: 30px;
  padding-right:  20px;
  float: right;
}
li{
  display: inline;
}
a{
  text-decoration: none;
  padding: 0 10px;
  font-size: 20px;
  color: black;
}
li a:hover{
  color: #ce2929;
}

/* Motto */
.motto{
  font-family: montserrat;
  font-weight: 600;
  font-size: 70px;
  padding-left: 60px;
  padding-top: 150px;
  padding-bottom: 20px;
}
button{
  margin-left:60px;
  width: 150px;
  border-radius: 40px;
  padding: 10px;
  border-color: white;
  background-color: transparent;
  border-style: solid;
  margin-bottom: 80px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
}
button:hover{
  background-color: white;
  color:  #ce2929;
  cursor: pointer;
}

/* Employee */

.employee h1{
  background-color: white;
  text-align: center;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding-top: 50px;
  color: #ce2929;
}

/* cards */
.cards-out{
  margin: 50px 80px;
  width: auto;
  height: auto;
}
.cards{
  margin:  20px;
  width: 250px;
  height: 300px;
  float: left;
  background-color: #F2F2F2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
.cards img{
  width: 100%;
  height: auto;
}
.cards h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: 0;
}
.cards h2{
  font-family: 'Montserrat', sans-serif;
  font-weight:  400;
  font-size: 10px;
  text-align: center;
}

/* about us */

.about{
  clear: left;
}
.about h1{
  padding-top: 80px;
  text-align: center;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #ce2929;
}
.about h2{
  text-align: justify;
  text-align-last: center;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 40px 150px;

}

/* foot */
.foot{
  width: 100%;
  height: 300px;
  background-color: black;
  margin-top: 100px;
}
.foot1{
  width: 600px;
  position: absolute;
  color:white;
  left: 50%;
  margin-top: 150px;
  transform:  translate(-50%,-50%);
  box-sizing: border-box;
  background-color: black;
  text-align: center;

}
.foot1 h1{
  float: left;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0 10px;
}
.foot1 h1:hover{
  cursor: pointer;
}
.foot1 h2{
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
